{
    'presets': ['es2015'],
    'plugins': [
        'transform-object-assign',
        [ 'transform-runtime', {
            'polyfill': false,
            'regenerator': true
        } ]
    ],
    'sourceMaps': true
}
